.projetos-wrapper {
  width: 100%;
  margin: 32px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.projeto-item {
  position: relative;
  width: 100%;
  padding-top: 80%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .projeto-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #34343499;
    opacity: 0;
    transition: 0.3s opacity, 0.3s visibility;
    transition-timing-function: ease-out;
    z-index: 1;

    h4 {
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &:hover .projeto-title {
    opacity: 1;
    visibility: visible;
  }
}
